.dashboardOutlet {
  display: flex;
  flex-direction: column;
}

.dashboard h1 {
  margin-bottom: 0;
}

.dashboardContent {
  margin-top: 0;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  color: var(--white);
  gap: 4rem;
  margin-bottom: 1rem;
}

.dashboardContentSection {
  display: flex;
  flex-direction: column;
}

.dashboardContentSection:first-child {
  flex: 3;
}

.dashboardContentSection:last-child {
  flex: 1;
}

.dashboardContentSectionData {
  display: flex;
  background-color: var(--black);
  align-items: center;
}

.dashboardContentSectionData svg {
  fill: black;
  stroke: black;
}
