.dashboardPage {
  display: flex;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  .dashboardPage {
    background-color: var(--white);
    color: var(--black);
  }
}

.profilePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.settingsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#GoBackBtn {
  top: 2rem;
  left: 2rem;
  position: sticky;
  margin: 2rem;
}
