.menuBar {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: var(--black);
  justify-content: center;
  align-items: center;
  border-right: 1px solid lightgray;
  position: sticky;
  top: 0;
}

.menuActions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  justify-content: space-evenly;
  height: 40%;
  align-items: center;
}

#toggleMenuBtn {
  display: none;
}

.menuBarBtn {
  transition:
    transform 0.2s ease-in-out,
    fill 0.2s ease-in-out;
  fill: var(--white);
}

.menuBarBtn:hover {
  transform: scale(1.1);
  cursor: pointer;
  fill: var(--pink);
}

.menuActions div {
  position: relative;
}

.menuBarBtnPopUp {
  display: block;
  position: absolute;
  left: 240%;
  top: 0%;
  transform: translateY(-50%);
  background-color: var(--pink);
  color: var(--white);
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  color: var(--white);
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
  white-space: nowrap;
  z-index: 1000;
}

.menuBarBtn:hover + .menuBarBtnPopUp {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 426px) {
  #toggleMenuBtn {
    display: block;
  }
}
