.notesList {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.notesList > div {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.noteCard {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  border: 1px solid var(--white);
  background-color: var(--black);
}

.noteCard svg {
  fill: var(--white);
}

.noteCard:hover {
  border: 1px solid var(--pink);
  opacity: 1;
  background-size: 7px 7px;
  background-image: repeating-linear-gradient(
    45deg,
    #131313 0,
    #131313 0.7000000000000001px,
    #000000 0,
    #000000 50%
  );
  cursor: pointer;
}

.noteForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.noteForm input,
textarea {
  padding: 0.5rem;
  background-color: var(--dark);
  border: 1px solid var(--pink);
  color: var(--white);
  font-size: 1rem;
  resize: none;
}

#dateInput {
  width: max-content;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.noteCardDetailed {
  display: flex;
  flex-direction: column;
}

.noteCard div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.noteButtons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.noteActionButtons {
  display: flex;
  gap: 1rem;
}

.noteActionBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--white);
  width: max-content;
  padding: 0.8rem;
  cursor: pointer;
  gap: 0.8rem;
  font-size: 1rem;
  border: 1px solid var(--pink);
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}

.noteActionBtn:hover {
  background-color: var(--pink);
  color: var(--white);
}

.noteActionBtn svg {
  fill: var(--white);
  transition: fill 0.2s ease-in-out;
}

.noteActionBtn:hover svg {
  fill: var(--white);
}

.checkNoteBtn:hover {
  background-color: var(--green);
}

.checkNoteBtn svg {
  fill: var(--black);
  transition: fill 0.2s ease-in-out;
}

.checkNoteBtn:hover svg {
  fill: var(--white);
}

.noteCardCompact {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  gap: 1rem;
  justify-content: space-between;
  gap: 5rem;
  background-color: var(--dark);
}

.notesListCompact {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0;
  width: max-content;
  overflow-y: scroll;
  width: 100%;
  max-height: 16.7rem;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--pink) var(--black);
}

.notesListCompact li {
  border: 1px solid var(--pink);
  border-bottom: none;
}

.notesListCompact li:last-child {
  border-bottom: 1px solid var(--pink);
}

.noteCollectionSelector {
  display: flex;
  flex-direction: column;
  width: max-content;
  border: 1px solid var(--pink);
  background-color: var(--black);
  padding: 0 1rem 1rem 1rem;
  gap: 1rem;
}

.noteCollectionSelector select {
  padding: 0.5rem;
  outline: none;
  width: 100%;
  border: 1px solid var(--pink);
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--dark);
  background-image: var(--dark);
  color: var(--white);
}

.noteCollectionSelector option {
  background-color: var(--dark);
}

.noteDetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.noteDetails h1 {
  font-size: 2rem;
}

.noteDetailsDetails {
  display: flex;
  gap: 6rem;
}

.noteDetailsDetails div {
  display: flex;
  flex-direction: column;
}

.noteDetailsDetails h2 {
  margin-bottom: 0;
}
