@media (prefers-color-scheme: light) {
  .noteCard {
    border: 1px solid var(--black);
    background-color: var(--offwhite);
  }
  .noteCard:hover {
    background-image: repeating-linear-gradient(
      45deg,
      #d6d6d6 0,
      #ffffff 0.7px,
      var(--offwhite) 0.7px,
      var(--offwhite) 50%
    );
  }
  .notesListCompact {
    border: 1px solid var(--black);
  }
  .noteCollectionSelector {
    border: 1px solid var(--black);
    background-color: var(--offwhite);
  }
  .noteCollectionSelector select {
    background-color: var(--offwhite);
    background-image: var(--offwhite);
  }
  .notesListItem {
    border-bottom: 1px solid var(--dark);
    background-color: var(--white);
  }
  .notesListItem:hover {
    background-size: 7px 7px;
    background-image: repeating-linear-gradient(
      45deg,
      #d6d6d6 0,
      #ffffff 0.7px,
      var(--offwhite) 0.7px,
      var(--offwhite) 50%
    );
  }
  .noteToAdd {
    background-color: var(--white);
  }
}

@media (prefers-color-scheme: dark) {
  .noteCard {
    border: 1px solid var(--white);
    background-color: var(--black);
  }
  .noteCard:hover {
    background-image: repeating-linear-gradient(
      45deg,
      #131313 0,
      #131313 0.7px,
      #000000 0.7px,
      #000000 50%
    );
  }
  .notesListCompact {
    border: 1px solid var(--user);
  }
  .noteCollectionSelector {
    border: 1px solid var(--user);
    background-color: var(--black);
  }
  .noteCollectionSelector select {
    background-color: var(--dark);
    color: var(--white);
    background-image: var(--dark);
  }
  .noteCollectionSelector option {
    color: var(--white);
    background-color: var(--dark);
  }
  .notesListItem {
    border-bottom: 1px solid var(--black);
    background-color: var(--dark);
  }
  .notesListItem:hover {
    background-size: 7px 7px;
    background-image: repeating-linear-gradient(
      45deg,
      #131313 0,
      #131313 0.7000000000000001px,
      #000000 0,
      #000000 50%
    );
  }
  .noteToAdd {
    background-color: var(--dark);
  }
}

.notesList {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.noteCard {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  overflow: hidden;
  width: 12dvw;
  justify-content: center;
}

.noteCardTitleContainer p {
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noteCard:hover {
  border: 1px solid var(--user);
  opacity: 1;
  background-size: 7px 7px;
  cursor: pointer;
}

.noteForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.noteForm label {
  font-size: 1.2rem;
}

#dateInput {
  width: max-content;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.noteCardDetailed {
  display: flex;
  flex-direction: column;
}

.noteActionButtons {
  display: flex;
  gap: 1rem;
}

.noteCardCompact {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  justify-content: space-between;
  width: 20dvw;
  box-sizing: border-box;
  gap: 1rem;
  height: 3rem;
}

.noteCardCompact p {
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notesListCompact {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0;
  width: max-content;
  overflow-y: scroll;
  max-height: 16.1rem;
  box-sizing: border-box;
  margin: 0;
}

.notesListItem {
  box-sizing: border-box;
  cursor: pointer;
}

.notesListItem:last-child {
  border-bottom: none;
}

.noteCollectionSelector {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0 1rem 1rem 1rem;
  gap: 1rem;
}

.noteCollectionSelector select {
  padding: 0.5rem;
  outline: none;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.noteDetails {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.noteActions {
  display: flex;
  gap: 1rem;
}

.noteCollectionSelector,
#addToCollectionBtn {
  margin-bottom: 2rem;
}

.noteDetailsDescription p,
.noteDetailsCollection p {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  .notesList {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .noteCard {
    width: 100%;
    box-sizing: border-box;
  }

  .noteCardTitleContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .notesListCompact {
    width: 100%;
    max-height: 12rem;
  }

  .notesListItem {
    width: 100%;
  }

  .noteCardCompact {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    gap: 1rem;
    height: 3rem;
  }

  .noteDetails {
    gap: 1rem;
  }

  .noteCollectionSelector {
    box-sizing: border-box;
    max-width: 100%;
  }
  .noteCollectionSelector label {
    margin: 0;
  }
}
