.landing {
  margin: 0;
  padding: 0;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.dashboard {
  padding-top: 4rem;
  padding-left: 4rem;
}

.homePage {
  margin: 4rem 10rem;
}

.authPage {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 1rem;
  height: 60dvh;
}

.createNotePage {
  margin: 2rem;
}

.createCollectionPage {
  margin: 2rem;
}

.notePage {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.noteTitleDiv {
  display: flex;
}

.noteTitleDiv h1 {
  min-width: 0;
  box-sizing: border-box;
  font-size: 2rem;
  margin: 0;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.collectionPage {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 1rem;
}

.collectionPage h1 {
  min-width: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 2rem;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.updateNotePage {
  margin: 2rem;
}

.updateCollectionPage {
  margin: 2rem;
}

.connectionsPage {
  margin: 2rem;
}

.settingsPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem;
}

.profilePage {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem;
}

@media (max-width: 768px) {
  .dashboard {
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
  }
  .homePage {
    margin: 2rem;
  }
  .authPage {
    height: 80dvh;
  }
  .createNotePage {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 0.8rem;
  }
  .createNotePage h1 {
    margin-bottom: 1.5rem;
  }
  .createCollectionPage {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 0.8rem;
  }
  .createCollectionPage h1 {
    margin-bottom: 1.5rem;
  }
  .notePage {
    margin: 1rem;
  }
  .noteTitleDiv h1 {
    font-size: 1.8rem;
  }
  .collectionPage {
    margin: 1rem;
  }
  .collectionPage h1 {
    font-size: 1.8rem;
  }
  .updateNotePage {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 0.8rem;
  }
  .updateNotePage h1 {
    margin-bottom: 1.5rem;
  }
  .updateCollectionPage {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 0.8rem;
  }
  .updateCollectionPage h1 {
    margin-bottom: 1.5rem;
  }
  .connectionsPage {
    margin: 2rem 1rem;
  }
  .connectionsPage h1 {
    font-size: 1.8rem;
  }
}

@media (prefers-color-scheme: light) {
  .landing {
    background-color: var(--offwhite);
  }
  .dashboard {
    background-color: var(--offwhite);
  }
  .homePage {
    background-color: var(--offwhite);
    color: var(--black);
  }
}

@media (prefers-color-scheme: dark) {
  .landing {
    background-color: var(--darkblue);
  }
  .dashboard {
    background-color: var(--darkblue);
  }
  .homePage {
    background-color: var(--darkblue);
    color: var(--white);
  }
}
