.landing {
  padding-top: 3.5rem;
  height: 100%;
}

.dashboard {
  padding-top: 3.5rem;
}

.homePage {
  margin: 3rem 10rem;
}

.authPage {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 1rem;
  height: 60dvh;
}

@media (max-width: 768px) {
  .homePage  {
    margin: 2rem;
  }
  .authPage {
    height: 80dvh;
  }
}