.landing {
  margin: 0;
  padding: 0;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.dashboard {
  padding-top: 4rem;
  padding-left: 4rem;
}

.homePage {
  margin: 4rem 10rem;
}

.authPage {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 1rem;
  height: 60dvh;
}

@media (max-width: 768px) {
  .dashboard {
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
  }
  .homePage  {
    margin: 2rem;
  }
  .authPage {
    height: 80dvh;
  }
}

@media (prefers-color-scheme: light) {
  .landing {
    background-color: var(--offwhite);
  }
  .dashboard {
    background-color: var(--offwhite);
  }
  .homePage {
    background-color: var(--offwhite);
    color: var(--black);
  }
}

@media (prefers-color-scheme: dark) {
  .landing {
    background-color: var(--black);
  }
  .dashboard {
    background-color: var(--black);
  }
  .homePage {
    background-color: var(--black);
    color: var(--white);
  }
}