.authForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: max-content;
  box-sizing: border-box;
}

.authFormInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .authForm {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    width: 80%;
    box-sizing: border-box;
  }
}
