@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("./pages/pages.css");
@import url("./components/navbar/navbar.css");
@import url("./components/auth/auth.css");
/*
@import url("./components/dashboard/sidebar/sidebar.css");
@import url("./components/dashboard/topbar/topbar.css"); */

/* @import url("./components/dashboard/dashboard.css");
@import url("./components/profile/profile.css");
@import url("./components/settings/settings.css");
@import url("./components/dashboard/notes/notes.css");
@import url("./components/dashboard/collections/collections.css");
@import url("./components/general/general.css"); */


:root {
  --white: #fafafa;
  --pink: #e04343;
  --blue: #21294c;
  --purple: #15002b;
  --dark: #080808;
  --black: #000000;
  --green: #3c6149;
}

* {
  font-family: "Instrument Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  margin: 0;
  background-color: var(--black);
  color: white;
}

/* @media (prefers-color-scheme: light) {
  .body {
    background-color: var(--white);
    color: var(--black);
  }
}

@media (prefers-color-scheme: dark) {
  .body {
    background-color: var(--black);
    color: var(--white);
  }
}

   */

::selection {
  color: var(--black);
  background: var(--pink);
}

input:focus {
  background-color: var(--dark);
  outline: 1px solid var(--pink);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}


input,
textarea {
  padding: 0.5rem;
  background-color: var(--dark);
  border: 1px solid var(--pink);
  color: var(--white);
  font-size: 1rem;
  resize: none;
}

 @media (max-width: 768px) {
  .hidden {
    display: none;
   }
 }

 button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--white);
  width: max-content;
  padding: 0.8rem;
  cursor: pointer;
  gap: 0.8rem;
  font-size: 1rem;
  border: 1px solid var(--pink);
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}

button:hover {
  background-color: var(--pink);
  color: var(--white);
}

button svg {
  fill: var(--white);
  transition: fill 0.2s ease-in-out;
}

button:hover svg {
  fill: var(--white);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 1rem;
}