@media (prefers-color-scheme: dark) {
  .collectionCard {
    border: 1px solid var(--white);
  }
  .collectionCard:hover {
    background-image: repeating-linear-gradient(
      45deg,
      #131313 0,
      #131313 0.7000000000000001px,
      #000000 0,
      #000000 50%
    );
  }
}

@media (prefers-color-scheme: light) {
  .collectionCard {
    border: 1px solid var(--black);
  }
  .collectionCard:hover {
    background-image: repeating-linear-gradient(
      45deg,
      #d6d6d6 0,
      #ffffff 0.7px,
      var(--offwhite) 0.7px,
      var(--offwhite) 50%
    );
  }
}

.collectionList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  margin: 0;
  padding: 0rem;
  box-sizing: border-box;
}

.collectionCard {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
  gap: 2rem;
  width: 22dvw;
}

.collectionCardTitle {
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collectionCard:hover {
  opacity: 1;
  background-size: 7px 7px;
  cursor: pointer;
  border: 1px solid var(--pink);
}

.collectionForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
}

.collectionFormInputFields {
  display: flex;
  box-sizing: border-box;
  gap: 4rem;
}

.collectionFormTextFields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  width: 70%;
}

.collectionFormAddProperties {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  max-width: 22dvw;
}

.noteToAdd {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--pink);
  width: max-content;
  padding: 0.5rem;
}

.notesToAddList {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.removeSelection {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.noteSelectionItem {
  cursor: pointer;
}

.collectionDetails {
  display: flex;
  flex-direction: column;
}

.collectionDetailsLists {
  display: flex;
  justify-content: space-between;
  width: 25%;
  gap: 2rem;
}

.collectionDetails ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0;
  width: max-content;
  overflow-y: scroll;
  width: 100%;
  max-height: 26rem;
  margin: 0;
  gap: 0.5rem;
}

.collectionDetailsNotes li {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  gap: 1rem;
  justify-content: space-between;
  border: 1px solid var(--pink);
  cursor: pointer;
}

.collectionDetailsNotes li:hover {
  background-size: 7px 7px;
  background-image: repeating-linear-gradient(
    45deg,
    #131313 0,
    #131313 0.7000000000000001px,
    #000000 0,
    #000000 50%
  );
}

.collectionDetailsUsers li {
  padding-right: 1rem;
}

.removeNote {
  display: flex;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.collectionDetailsData {
  display: flex;
  justify-content: space-between;
}

.collectionList li {
  width: 100%;
}

.collectionFormNav {
  display: none;
}

@media (max-width: 768px) {
  .collectionCard {
    width: 100%;
    box-sizing: border-box;
  }

  .collectionFormNav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    z-index: 10;
  }

  .collectionFormNav a {
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease-in-out;
    font-size: 1rem;
  }

  .collectionFormNav a.active {
    border-color: var(--pink);
  }

  .collectionFormTextFields {
    display: none;
  }

  .collectionFormTextFields.active {
    display: flex;
    width: 100%;
  }

  .collectionFormAddProperties {
    display: none;
  }

  .collectionFormAddProperties.active {
    display: flex;
    width: 100%;
    max-width: 100%;
  }

  .collectionFormNotes {
    display: none;
  }

  .collectionFormNotes.active {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .collectionFormTextFields textarea {
    height: 12rem;
  }

  #notFoundSvg {
    height: 40px;
  }
}
