#goBackBtn {
  margin-top: 2rem;
}

.notFound {
  display: flex;
  align-items: center;
}

.errorMsg {
  color: var(--pink);
}

.workInProgress {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .notFound {
    justify-content: center;
  }
  #goBackBtn {
    margin-top: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  #notFoundSvg {
    fill: var(--white);
  }
}

@media (prefers-color-scheme: light) {
  #notFoundSvg {
    fill: var(--black);
  }
}
