#goBackBtn {
  margin-bottom: 1rem;
}

.notFound {
  display: flex;
  align-items: center;
  width: max-content;
}

.notFound p {
  min-width: max-content;
}

.errorMsg {
  color: var(--user);
}

.workInProgress h1 {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .notFound {
    justify-content: center;
  }
  #goBackBtn {
    margin-top: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  #notFoundSvg {
    fill: var(--white);
  }
}

@media (prefers-color-scheme: light) {
  #notFoundSvg {
    fill: var(--black);
  }
}
